* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
}


/* nav bar */

.nav-link {
    color: #582C4D;
}

.nav-link:hover {
    color: #A26769;
}


/**************************************************** Home Page  *******************************************************/


/* 1st row */

.column {
    float: left;
    width: 50%;
    text-align: left;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* avartar */

.avatar {
    border-radius: 50%;
    width: 340px;
    height: 340px;
    margin: 55px;
}

.header-text {
    text-align: left;
}


/*The Parallax Effect*/

body,
html {
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

.img-1,
.img-2,
.img-3 {
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-1 {
    background-image: url("https://bit.ly/2rvo59V");
    min-height: 100%;
}

.img-2 {
    background-image: url("https://bit.ly/2PdRpdL");
    min-height: 400px;
}

.img-3 {
    background-image: url("https://bit.ly/2PCNp5R");
    min-height: 400px;
}


/* .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #121312;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    text-align: center;
    letter-spacing: 10px;
} */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center h1,
.center h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
    border: 4px solid whitesmoke;
    color: white;
    background: rgba(0, 0, 0, .8);
}

.about_para p {
    width: 60%;
    margin: 10vh auto;
    font-size: 1.5em;
}

h3 {
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
    margin-top: 40px;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    margin: 6vh auto;
}

.skills i {
    font-size: 2.5em;
}

.html {
    color: orange;
}

.css {
    color: blue;
}

.js {
    color: #F1C40F;
}

.github {
    color: purple;
}

.react {
    color: #47F8E2;
}

.nodejs {
    color: green;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .img-1,
    .img-2,
    .img-3 {
        background-attachment: scroll;
    }
}


/* End of Parallax Effect*/


/**************************************************** Contact Page  *******************************************************/


/* Form */

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=subject] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Style the container/contact section */

.container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px 10px 45px 10px;
}


/* Create two columns that float next to eachother */

.column2 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}


/* Clear floats after the columns */

.row2:after {
    content: "";
    display: table;
    clear: both;
}