@import url('https://fonts.googleapis.com/css?family=Cinzel|Rokkitt&display=swap');

/* 
font-family: 'Rokkitt', serif;
font-family: 'Cinzel', serif;
 */

* {
    box-sizing: border-box;
}

h1,
h2,
a {
    font-family: 'Cinzel', serif;
}

p,
label,
input,
textarea {
    font-family: 'Rokkitt', serif;
}

body,
html {
    height: 100%;
    margin: 0;
}


/* nav bar */

.nav a {
    text-decoration: none;
    color: #222;
}

.nav a:active,
.nav-link:hover {
    color: rgb(230, 62, 230);
}


/**************************************************** Home Page  *******************************************************/


/* 1st row */

.column {
    float: left;
    width: 50%;
    text-align: left;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* avartar */

.avatar {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: 55px;
    object-fit: cover
}

.header-text {
    text-align: left;
}


/* about me */

.aboutme {
    font-family: 'Rokkitt', serif;
}

.resume {
    margin-left: 60px;
}


/*The Parallax Effect*/

body,
html {
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
}

.img-1,
.img-2,
.img-3 {
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-1 {
    background-image: url("https://bit.ly/2rvo59V");
    min-height: 90%;
}

.img-2 {
    background-image: url("https://bit.ly/2PdRpdL");
    min-height: 200px;
}

.img-3 {
    background-image: url("https://bit.ly/2PCNp5R");
    min-height: 200px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center h1,
.center h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
    border: 4px solid whitesmoke;
    color: white;
    background: rgba(0, 0, 0, .8);
}

.about_para p {
    width: 60%;
    margin: 10vh auto;
    font-size: 1.5em;
}

.about_para {
    display: flex;
}

h3 {
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
    margin-top: 40px;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    margin: 6vh auto;
}

.skills i {
    font-size: 2.5em;
}

.html {
    color: orange;
}

.css {
    color: blue;
}

.js {
    color: #F1C40F;
}

.github {
    color: purple;
}

.react {
    color: #47F8E2;
}

.nodejs {
    color: green;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .img-1,
    .img-2,
    .img-3 {
        background-attachment: scroll;
    }
}


/* End of Parallax Effect*/


/**************************************************** Portfolio Page  *******************************************************/

.text-center {
    width: 90%;
    margin: auto;
}

.project-img {
    height: 350px;
    width: 550px;
    object-fit: cover;
    object-position: 0;
}

a.links {
    text-decoration: none;
    color: rgb(218, 45, 218);
}


/**************************************************** Contact Page  *******************************************************/


/* Hero */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("https://bit.ly/2PdRpdL");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/* Form */

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=subject] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Style the container/contact section */

.container2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px 10px 45px 10px;
}


/* Create two columns that float next to eachother */

.column2 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}


/* Clear floats after the columns */

.row2:after {
    content: "";
    display: table;
    clear: both;
}


/* Contact Info */

.contact-info {
    /* border: 1px solid pink; */
    margin: 50px 20px;
    font-size: 1.4em;
}

.contact-info span {
    font-weight: bolder;
}